&__lists{
  width: calc(100vw - 300px);
  height: calc(100vh - 100px - 90px);
  padding-left: 40px;
  background-color: #fafafa;
  padding-top: 35px;
  &__message {
    &__info {
      margin-bottom: 12px;
      // display: flex;
      display: flex;
      &__user_name {
        color: #333333;
        font-size: 16px;
        // display: inline-block;
      }
      &__date {
        color: #999999;
        font-size: 12px;
        padding-left: 5px;
        // display: inline-block;
      }
    }
    &__content {
      color: #434A54;
      font-size: 14px;
      padding-bottom: 46px;
      .lower-message__image {
        height: 300px;
        width: 500px;
      }
    }
  }
}
